  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a class='nav-icon' href="/profiles/<%=user.profile.id%>">
        <span style="color: #5E4AE3;">
          <i class="fas fa-book-open fa-2x"></i>
        </span>

      </a>
      <a class='nav-icon' href="/profiles">
        <span style="color: #5E4AE3;">
          <i class="fas fa-binoculars fa-2x"></i>
        </span>
      </a>

      <a class='nav-icon' href="/birbs">
        <span style="color: #5E4AE3;">
          <i class="fas fa-crow fa-2x"></i>
        </span>
      </a>

      <a class='nav-icon' href="/auth/logout">
        <span style="color: #5E4AE3;">
          <i class="fas fa-sign-out-alt fa-2x"></i>
        </span>
      </a>

    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
