<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h1>Your Sightings</h1>
  <% } else { %>
  <h1><%= profile.name%>'s Sightings</h1>
  <% } %> 
</main>

<%- include('../partials/footer') %>