<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to Birb Watcher!</h1>
  <h2>Your Personal Birb Log</h2>
  <a href="/auth/google" class="siwg-link">
    <button type="submit" class="siwg">
      <img id="siwg-image" alt="Sign in with Google" />
    </button>
  </a>
</main>

<%- include('./partials/footer') %>
