<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/loading.css">
<%- include('./partials/nav') %>

<main>
  <div id="cover-spin"></div>
</main>

<%- include('./partials/footer') %>
