@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Exo+2&display=swap');
html {
  box-sizing: border-box;
  height: 100vh;
  background-color: #fae1dd;
}

*,
*::before,
*::after { 
  box-sizing: inherit;
}

:root {
    font-size: 62.5%
}

body {
  height: 100vh;
  background-color: #fae1dd;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
}

nav {
  font-family: 'Cabin', sans-serif;
  height: 60px;
  background-color: #ffb4a3;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
}
.left-nav {
  display: flex;
  padding-left: 5px;
  flex-direction: row;
  gap: 20px;
  /* justify-content: space-between; */
  align-items: center;
}
.nav-title {
  display:none;
  color: white;
  font-weight: bold;
  justify-self: flex-start;
}

a:link {
  text-decoration: none;
}

main {
  color: black;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
  background-color: #fae1dd;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title-container {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffb4a3;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5rem;
}
.main-title-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffb4a3;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5rem;
}

.page-intro {
  font-size: 16px;
  /* color: white; */
}
.secondary-title-container {
  margin-top: 30px;
}
.title {
  /* margin-top: 20px; */
  font-weight: bold;
  color: white;
}

.sightings-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  text-align: left;
}

#add-sighting-container {
  width: 100%;
}

#sightings-h2{
  margin-top: 20px;
}

.card {
  color: black;
  width: 75%;
}

.profile-card {
  width: 90%;
}

#sighting-header {
  display: flex;
  /* align-items: ; */
  justify-content: space-between;
}

#sighting-delete {
  display: flex;
  align-items: flex-start;
}

.add-sighting-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  width: 100%
}
.add-bird-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  width: 100%;
  margin-top: 20px;
}

.add-bird-button {
  /* width: 45%; */
  display: inline;
}
.add-bird-label {
  /* width: 45%; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin-right: 5px; */
  /* gap:5px; */
}

fa-sign-out-alt {
  color: black;
  background-color: #fae1dd  ;
}

.nav-button {
  background-color:#fae1dd;
  border-color:#fae1dd;
  color: black;
  border-radius: 25px;
}

.nav-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.submit-button {
  padding: 5px;
  background-color: #6184D8;
  border: 0;
  box-shadow: transparent;
  color: white;
  font-size: 14px;
  border-radius: 0.5rem;
}

.edit-details {
  font-size: 14px;
}

.show-bird {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bird-summary {
  margin: 10px;
  font-size: 16px;
  text-align: center;
}

.bolded {
  font-weight: bold;
}

.card-button {
  width: 70%;
}

.delete-button {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 25px;
}

.delete-button:hover {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

button:hover {
  background-color: #3A67CF;
  /* border-color: white; */
  color: white;
}

p.profile-name {
  text-align: center;
}

#which-birb {
  font-weight: bold;
  margin: 10px;
}

.egg {
  color: black;
}

.card {
  border: 4px #ffb4a3 solid !important;
}

.card-title {
  font-size: 20px;
}

.card-body {
  background-color: #fae1dd !important ;
}

.card-text {
  font-size: 15px;
  background-color: #fae1dd !important ;
}

.card-header-text {
  font-size: 15px;
  color: white !important;
}

.card-header {
  background-color: #ffb4a3 !important ;
}

.card-footer {
  font-size: 13px;
  color: black !important;
  background-color: #ffb4a3 !important ;
}

.bird-image {
  height: 30%;
  width: auto;
}

.bird-form {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  gap: 5px;
  border: 4px #ffb4a3 solid;
  /* background-color: rgb(255, 225, 225); */
  padding: 15px;
  width: 75%;
}

#show-form {
  /* display: inline; */
  background-color: transparent;
  border: 0;
  color: white;
}

.delete-sighting{
  font-size: 25px;
  margin-top: 20px;
  color: black
}

textarea:focus, input:focus {
  outline: 2px solid #ffb4a3 ;
}
@media only screen and (min-width: 600px) {
  .title-container {
    width: 40%;
  }

  .main-title-container {
    width: 75%;
  }
  .col {
    width: 75%;
    flex-direction: column;
    justify-content: center;
  }
  
  .card {
    /* color: black; */
    width: 40%;
  }

  .profile-card {
    width: 75%;
  }

  #bird-summary {
    margin: 10px;
    font-size: 16px;
    text-align: center;
    width: 70%;
  }

  .bird-form {
    width: 40%;
  }

  .nav-title {
    display:flex;
  }
}