@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Exo+2&display=swap');
html {
  box-sizing: border-box;
  min-height: 100%;
  background-color: #fae1dd;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  min-height: 100%;
  background-color: #fae1dd;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Exo 2', sans-serif;
  margin: 0;
}

nav {
  font-family: 'Cabin', sans-serif;
  height: 60px;
  background-color: #ffb4a3;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

main {
  color: black;
  /* height: 100%; */
  font-family: 'Cabin', sans-serif;
  background-color: #fae1dd;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-top: 20px;
  font-weight: bold;
}
#sightings-h2{
  margin-top: 20px;
}

.card {
  color: black;
  width: 75%;
}

#sighting-header {
  display: flex;
  align-items: flex-start;
}

#sighting-delete {
  display: flex;
  align-items: flex-end;
}

.add-sighting-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}
fa-sign-out-alt {
  color: black;
  background-color: #fae1dd  ;
}

.nav-button {
  background-color:#fae1dd;
  border-color:#fae1dd;
  color: black;
  border-radius: 25px;
}

.nav-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.submit-button {
  background-color: #bfffd9;
  border-color: #bfffd9;
  color: black;
}

.show-bird {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bird-summary {
  margin: 10px;
  font-size: 16px;
  text-align: center;
}

.bolded {
  font-weight: bold;
}

.card-button {
  width: 70%;
}

.delete-button {
  background-color: rgb(255, 104, 104);
  border-color: rgb(255, 104, 104);
  color: white;
}