@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Exo+2&display=swap');
html {
  box-sizing: border-box;
  min-height: 100%;
  background-color: #5E4AE3;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  min-height: 100%;
  background-color: #16E0BD;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Exo 2', sans-serif;
  margin: 0;
}

nav {
  font-family: 'Cabin', sans-serif;
  height: 60px;
  background-color: #BBB6DF;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

main {
  color: white;
  /* height: 100%; */
  font-family: 'Cabin', sans-serif;
  background-color: #5E4AE3;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#show-title {
  margin-top: 20px;
}

.card {
  color: black;
  width: 75%;
}

#sighting-header {
  display: flex;
  align-items: flex-start;
}

#sighting-delete {
  display: flex;
  align-items: flex-end;
}

#add-sighting-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}